.product,
.customers,
.income,
.promote,
.help {
  position: fixed;
  background-color: #f4dbff97;
  width: 84%;
  right: 0;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  place-items: center;
}
